@import "bootstrap/css/bootstrap";
@import "datatables/datatables";

@import "dataTables/buttons.dataTables.min";
@import "dataTables/common";
@import "dataTables/mixins";
@import "dataTables/responsive.bootstrap.min";


.title{
  background-color: #002752;
  color: white;
}

body{
  background-color: #002752;
}

