<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title_system') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application', params[:controller] %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
