<%= form_for(tracking,:url => load_labels_file_trackings_path,:html => { :multipart => true }) do |f| %>
  <% if tracking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracking.errors.count, "error") %> prohibited this tracking from being saved:</h2>
      <ul>
      <% tracking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <label>Seleccione el archivo con las etiquetas de los paquetes (JSON).</label>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <%= file_field_tag 'upload[file]', accept: 'application/json' %>
        </div>
        <div class="col-md-4 col-xs-12">
          <%= f.submit t("btn.load")%>
        </div>
      </div>
    </div>
  </div>
<% end %>

