<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1><%= t('activerecord.models.trackings') %></h1>
    </div>

    <div class="col-12 title">
      <p id="notice"><%= notice %></p>
      <%= render 'form', tracking: @tracking %>
    </div>

    <div class="col-12 border-top my-3">
      <div class="card">
        <div class="card-body card-padding">

          <h2><%= t('activerecord.models.packages') %></h2>
          <div class="datatable_custom bootgrid-header">
            <table id="tracking-datatable" class="table table-responsive table-condensed table-custom" data-source="<%= trackings_url(format: "json")%>">
              <thead>
                <tr>
                  <th><%= t('activerecord.attributes.tracking.tracking_number') %></th>
                  <th><%= t('activerecord.attributes.tracking.carrier') %></th>
                  <th><%= t('ui.package.label_weight') %></th>
                  <th><%= t('ui.package.real_weight') %></th>
                  <th><%= t('ui.package.real_total_weight') %></th>
                  <th><%= t('ui.package.overweight') %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








